

#top{
  
  gap:20px;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin:35px;
}

#mid{
  
  margin-bottom: 20px;
  margin-top: 50px;
  border: 2px black solid;
  border-radius: 2px;
  box-shadow: rgba(99,99,99,99) 5px 5px 5px 5px;
}

img{
  object-fit:cover;
  height: 100%;
  width: 100%;
}

h4{
  text-align: center;
}

#blike{
  border: none;
  border-radius: 2px;
  background-color: white;
  padding: 2px;
  margin: 2px;
}
#like{
  border: none;
  border-radius: 2px;
  padding: 2px;
  margin: 2px; 
}